<?php
/* This file is maintained by Ansible all changes will be overwritten. */

$AUTOCONFIG = array(
  'passwordsalt'  => '{{ nextcloud_config_passwordsalt }}',
  'secret'        => '{{ nextcloud_config_secret }}',

  'dbtype'        => {% if nextcloud_db_type == 'postgresql' %}'pgsql'{% elseif nextcloud_db_type == 'mariadb' %}'mysql'{% endif %},
  'dbname'        => '{{ nextcloud_config_dbname }}',
  'dbuser'        => '{{ nextcloud_config_dbuser }}',
  'dbpass'        => '{{ nextcloud_config_dbpassword }}',
  'dbhost'        => '{{ nextcloud_config_dbhost }}',
  'dbtableprefix' => '',
  'adminlogin'    => '{{ nextcloud_config_adminlogin }}',
  'adminpass'     => '{{ nextcloud_config_adminpass}}',
  'directory'     => '{{ nextcloud_config_datadirectory }}',

  'logtimezone' => 'UTC',

  'overwrite.cli.url' => '{{ nextcloud_config_overwrite_cli_url }}',

  'memcache.local' => '\OC\Memcache\APCu',
  'memcache.distributed' => '\OC\Memcache\Memcached',
  'memcached_servers' => array(
     array('localhost', 11211),
  ),

  'asset-pipeline.enabled' => true,

  /* Force use of HTTPS connection (true = use HTTPS) */
  'forcessl' => true,

  /* List of trusted domains, to prevent host header poisoning nextcloud is only using these Host headers */
  'trusted_domains' => array(
  {% for trusted_domain in nextcloud_config_trusted_domains %}
    {{ loop.index0 }} => '{{ trusted_domain }}',
  {% endfor %}),

  {% if nextcloud_config_user_auth_backends_imap is defined and nextcloud_config_user_auth_backends_imap %}
  "user_backends" => array (
    0 => array (
      "class"     => "OC_User_IMAP",
      "arguments" => array (
        0 => '{{ "{" }}{{ nextcloud_config_user_auth_backends_imap }}{{ "}" }}'
      ),
    ),
  ),
  {% endif %}

);
