<?php
/* This file is maintained by Ansible all changes will be overwritten. */

$CONFIG = array (
  'instanceid' => '{{ nextcloud_config_instanceid.stdout }}',
  'passwordsalt' => '{{ nextcloud_config_passwordsalt }}',
  'secret' => '{{ nextcloud_config_secret }}',

  'datadirectory' => '{{ nextcloud_config_datadirectory }}',
  'overwrite.cli.url' => '{{ nextcloud_config_overwrite_cli_url }}',
  'dbtype' => '{{ nextcloud_config_dbtype }}',
  'version' => '{{ nextcloud_config_version.stdout }}',
  'dbname' => '{{ nextcloud_config_dbname }}',
  'dbhost' => '{{ nextcloud_config_dbhost }}',
  'dbtableprefix' => '',
  'dbuser' => '{{ nextcloud_config_dbuser }}',
  'dbpassword' => '{{ nextcloud_config_dbpassword }}',
  'logtimezone' => 'UTC',
  'installed' => true,

  'memcache.local' => '\OC\Memcache\APCu',
  'memcache.distributed' => '\OC\Memcache\Memcached',
  'memcached_servers' => array(
     array('localhost', 11211),
  ),

  'asset-pipeline.enabled' => true,

{% if nextcloud_s3_enabled %}
  'objectstore' => array(
          'class' => 'OC\\Files\\ObjectStore\\S3',
          'arguments' => array(
                  'bucket' => '{% nextcloud_s3_bucket %}',
                  'autocreate' => true,
                  'key'    => '{% nextcloud_s3_key %}',
                  'secret' => '{% nextcloud_s3_secret %}',
                  'hostname' => '{% nextcloud_s3_hostname %}',
                  'port' => 1234,
                  'use_ssl' => true,
                  'region' => 'optional',
                  // required for some non amazon s3 implementations
                  'use_path_style'=>true
          ),
  ),
{% endif %}

  /* List of trusted domains, to prevent host header poisoning nextcloud is only using these Host headers */
  'trusted_domains' => array(
  {% for trusted_domain in nextcloud_config_trusted_domains %}
    {{ loop.index0 }} => '{{ trusted_domain }}',
  {% endfor %}),

  {% if nextcloud_config_user_auth_backends_imap is defined and nextcloud_config_user_auth_backends_imap %}
  "user_backends" => array (
    0 => array (
      "class"     => "OC_User_IMAP",
      "arguments" => array (
        0 => '{{ "{" }}{{ nextcloud_config_user_auth_backends_imap }}{{ "}" }}'
      ),
    ),
  ),
  {% endif %}
);
