# This file is maintained by Ansible all changes will be overwritten.

{{ nextcloud_data_path }}/nextcloud.log {
	rotate 12
	weekly
	missingok
	notifempty
	compress
	su {{ nextcloud_user }} {{ nextcloud_group }}
	delaycompress
}
